{# src/Application/Jobeet2Bundle/Resources/view/Job/list.twig.html #}

<table class="jobs">
    {% for job in jobs %}
         <tr class= "{{ loop.index is even ? 'even' : 'odd' }}">
             <td class="location"> {{ job.location }}</td>
             <td class="position">
                 <a href="{{ path('_job_show',{'company':job.getCompanySlug, 'location': job.getLocationSlug
                                ,'id': job.id, 'position':job.getPositionSlug }) }}">
                     {{ job.position }}
                 </a>
             </td>
             <td class="company"> {{ job.company }}</td>
         </tr>
     {% endfor %}
</table>